<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org" >
  <head>  
    <meta charset="utf-8"/>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimal-ui,maximum-scale=1.0,user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-datepicker.min.css"/>
    <link type="text/css" rel="stylesheet" href="/css/index.css"/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>    
    <script type="text/javascript" src="/js/jquery-form.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>    
	<script type="text/javascript" src="/js/app.js"></script>
	<script src="/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/bootstrap-datepicker.zh-CN.min.js"></script>
    <script type="text/javascript">
    </script>
    <title>活动后台管理</title>
    <style>
    .modal-backdrop{z-index:1!important;}
    
    /* .edui-default .edui-dialog-modalmask{z-index:1043!important;} */
    </style>
  </head>
  <body><!--[if lt IE 8]>
    <p class="browsehappy">
      You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a>
      to improve your experience.
    </p><![endif]-->
    <div class="container q-firm">  
      <div th:include="cms/pagemodule::leftmenu"></div>
      <div class="container-fluid q-right">
        <div class="table-responsive q-w11">欢迎光临！</div>
      </div>
    </div>
  </body>
</html>