<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd ">

	<context:component-scan base-package="com.dodofly.cms.controller" />
    <aop:aspectj-autoproxy proxy-target-class="true" />
    <bean id="controllerLogAspect" class="com.dodofly.cms"></bean>
    <aop:config>
        <aop:aspect ref="controllerLogAspect">
            <aop:around
                    pointcut="execution(* com.dodofly.cms.controller..*.*(..))"
                    method="log"/>
        </aop:aspect>
    </aop:config>
    
    
    <context:component-scan base-package="com.dodofly.cms.service.**.impl" />
    <aop:aspectj-autoproxy proxy-target-class="true" />
    <bean id="serviceLogAspect" class="com.dodofly.cms"></bean>
    <aop:config>
        <aop:aspect ref="serviceLogAspect">
            <aop:around
                    pointcut="execution(* com.dodofly.cms.service..impl..*.*(..))"
                    method="log"/>
        </aop:aspect>
    </aop:config>
    <bean id="SpringConfigTool" class="com.dodofly.cms"/>
</beans>
